* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: "Raleway", sans-serif;


}
.card-header{
  background-color: #ff8800;
  color: #fff;
}
.card-body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

#overall{
  position: relative;
  background-color: whitesmoke;
  height: 100vh;
}
#overall-inner{
  
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 1440px) and (min-width: 800px)  {
  #overall-inner{
  
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
}
@media only screen and (max-width: 800px)  {
  #overall-inner{
  
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
}
input[type=text], input[type=password] {
  width: 40%;
  height: 2rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
button {
  background-color: #ff8800;
  color: white;
  
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 6rem;
  height:2rem;
  border-radius: 5px;
  transition: 0.5s;
}
button:hover {
  opacity: 0.83;
  background-color: #fc9f36;
}
.container {
  padding: 16px;
  width: 100%;
}
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
